@model IEnumerable<SummitTichTask.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComingBackDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComingBackDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
